<div class="trackerPage">
    <div class="trackerContainer" id="trackerContainer">
        <h2 class="trackerHeader">Expense Tracker</h2>
        <div class="trackerSubheading">
            <p>Welcome {{user.firstname | titlecase}}, </p>
            <i class="fa-solid fa-arrow-right-from-bracket point" (click)="logOut()"></i>
        </div>
        <div class="middleSection">
            <div class="middleHeader"> 
                <div class="balance">
                    <h5>YOUR BALANCE</h5>
                    <h2 [ngClass]="['actualBalance', colorHandler()]">
                        {{balanceValue() | currencyConverter | currency: (currentCurrency) : 'symbol' : '1.2-2'}} </h2>
                </div>
                <div class="iconsNdSelect">
                <i class="fa-solid fa-file-pdf point" (click)="downloadPDF()"></i>
                <i class="fa-solid fa-trash-can point" (click)="deleteAll()"></i>
                <select class="select" (ngModelChange)="onCurrencyChange($event)" [(ngModel)]="currentCurrency" >
                    <!-- @for(let currency of currencies; track currency){} -->
                     <option *ngFor="let currency of currencies" [value]="currency.code">{{currency.name}} </option>
                     <!-- <option value="canadianDollars">Canadian Dollars</option> 
                    <option value="naira">Naira</option>
                    <option value="poundSterling">Pound Sterling</option>
                    <option value="usDollars">United States Dollars</option>
                    <option value="euro">Euro</option>  -->
                </select>
                </div>
            </div>

            <div class="incomeExpense">
                <div class="income">
                    <h5>INCOME</h5>
                    <h4 class="actualIncome">{{incomeValue() | currencyConverter | currency: (currentCurrency) : 'symbol' : '1.2-2'}} </h4>
                </div>
                <div class="expense">
                    <h5>EXPENSE</h5>
                    <h4 class="actualExpense">{{expenseValue() | currencyConverter | currency: (currentCurrency) : 'symbol' : '1.2-2'}} </h4>
                </div>
            </div>
        </div>

        <div class="transactionSection">
            <h5 class="trackerSubheading bigger">Transaction History</h5>
            <button class="addTransactionButton" (click)="toggleTransactionDetails()">+ Add Transaction</button>
            <div *ngFor="let transaction of transactions()" [ngClass]="['transactionBlock', transaction.category === 'income' ? 'borderGreen' : 'borderRed']">
                <div class="transactionTop">
                    <p>{{transaction.name | titlecase}} </p>
                    <p>{{transaction.amount | currencyConverter | currency: (currentCurrency) : 'symbol' : '1.2-2'}} </p>
                </div>
                <div class="dateNdTrash">
                <p class="transactionDate">{{transaction.date | date: 'MMM d, y, h:mm:ss a' }} </p>
                <i class="fa-solid fa-trash-can point" (click)="deleteTransaction(transaction.id)"></i>
                </div>
            </div>
        </div>
    </div>

    @if(enterTransactionDetails){
            <div class="overlay">
        <div class="addNewTransaction">
        <form class="addNewTransactionHeader" [formGroup]="transactionDetails">
            <div class="detailsHeader">
            <h4>Add New Transaction</h4>
           <i class="fa-solid fa-xmark point" (click)="toggleTransactionDetails()"></i>
           </div>
        <div class="email">
        <label>Name:</label>    
        <input name="transactionName" class="Input" type="text" required formControlName="name" />
        <div class="actualRadio">
        <label>Income:</label>
        <input name="category" type="radio" style="margin-right: 20px;" required formControlName="category" value="income"/>
        <label>Expense:</label>
        <input name="category" type="radio" required formControlName="category" value="expense"/>
        </div>
        <label>Amount:</label>
        <input name="transactionAmount" class="Input" type="number" required formControlName="amount" />
        <button class="addTransactionButton" (click)="addNewTransaction()" [disabled]="transactionDetails.invalid">Add Transaction</button>
        </div>
        </form>
    </div>
    </div>
    }

</div> 